.java-script, .python, .ruby, .weSuggest, .about{
  display: none;
}

body {
  background-color: slategray;
}
.btn{
  background-color: slategray;
}
.mainHeader{
  text-align: center;
  color: black;
  padding: 30px;
  border: outset rgb(192, 192, 192);
  border-width: 10px;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}
.subHeader{
  text-align: center;
  color: black;
  padding: 75px;
  border: outset rgb(192, 192, 192);
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

.about{
  text-align: left;
  color: black;
  padding: 30px;
  border: outset rgb(192, 192, 192);
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

.formHeader{
  text-align: center;
  font-style: bold;
  color: black;
  padding: 50px;
  border: outset rgb(192, 192, 192);
  border-width: 10px;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

div.a {
  margin-left: 30px
}


#personalityQuestion {
  padding: 10px;
  text-align: left;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

#interestQuestion {
  padding: 10px;
  text-align: left;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

#colorQuestion {
  padding: 10px;
  text-align: left;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

#musicQuestion {
  padding: 10px;
  text-align: left;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

#cuisineQuestion {
  padding: 10px;
  text-align: left;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}
#weSuggest {
  padding: 10px;
  text-align: center;  
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}

#results { 
  padding: 10px;
  text-align: center;
  color: black; 
  border: outset silver;
  background-color: lightsteelblue;
  font-family: 'optima', sans-serif;
}
